<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>


    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    <br/>
    <div class="img">
      <aside>
        <h1> <img src="http://3.bp.blogspot.com/-7Pl474o8Q7Q/UjS7xUprdKI/AAAAAAAAGow/5G-5ze27LYg/s1600/small+collage.jpg" alt="Disaster Collage" height="400" /> </h1>
        <p> 
        <i>Natural and man-made hazards can happen anytime, anywhere.</i>  <br/> This photo borowed from <a href="http://ecocatlady.blogspot.com/2013/09/why-do-we-love-disasters.html"> Eco Cat Lady</a>. </p>
      </aside>
    </div>

    {% include footer.html %}

  </body>

</html>
